@import "bootstrap/bootstrap.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$has: #333333;
$has2: #f2f2f2;
$has3: #dfdfdf;
$has4: #e4e4e4;
$has5: #ececec;
$has7: #b7b7b7;
$white: #ffffff;
$orange-new: #ff7e00;
$green-new: #99be18;
$font11:11px;
$font12:12px;
$font13:13px;
$font14:14px;
$font15:15px;
$font16:16px;
$font18:18px;
$font21:21px;
$font25:25px;
$font29:29px;
$font30:30px;
$font35:35px;
$font65:65px;
$font85:85px;
body{
  color: $has;
  font-size: 14px;
  background: $has2;
  font-family: 'Lato', sans-serif;
}
.top-header{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8500+0,ff9c00+100 */
background: #ff8500; /* Old browsers */
background: -moz-linear-gradient(left,  #ff8500 0%, #ff9c00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff8500 0%,#ff9c00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff8500 0%,#ff9c00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8500', endColorstr='#ff9c00',GradientType=1 ); /* IE6-9 */
color: $white;
}
.top-header2{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background: $white;
  color: $has;
  height: 1200px;
}
.link1{
  color: $has;
}
.link1:hover{
  color: $orange-new;
}
.link2{
  color: $orange-new;
}
.link2:hover{
  color: $orange-new;
}
.link3{
  color: $white;
}
.link3:hover{
  color: $white;
  text-decoration: none;
}
.orange{
  color: $orange-new;
}
.sec img{
  height: 76px;
  width: 80px;
}
.input-group-text{
  background: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  color: $orange-new;
}
.form-control, .custom-select{
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}
.btn{
  border-radius: 0;
}
.btn-success, .btn-success:hover{
  background-color: #6acd4f;
    border-color: #6acd4f;
}

.btn-warning{
  background-color: #ff8500;
    border-color: #ff8500;
    color: $white;
}
.btn-warning:hover{
  background-color: #ff8500;
    border-color: #ff8500;
 color: $white;
}
.upload span{
  font-size: 14px;
}
.bts .btn-lg{
  width: 100%;
}
.btn-primary, .btn-primary:hover{
  background-color: #ff8500;
  border-color: #ff8500;
}
.btn-secondary, .btn-secondary:hover{
background-color: #ffebd0;
  border-color: #ffebd0;
  color: #333333;
}
.h2-heading{
  background: $orange-new;
  color: $white;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 25px;
}
.h2-heading2{
  background: $orange-new;
  color: $white;
  padding: 7px;
  font-size: 25px;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent; 
  border-right:22px solid $white; 
  position: absolute;
  right: 15px;
  top:0;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid $white;
  position: absolute;
}
.box{
  position: relative;
}
/* file upload */
.file-upload-s{
  border:1px solid #eaeaea;
  padding:15px;
  border-radius: 15px; 
}
.file-upload-s .file-upload {
  background-color: $white;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-s .file-upload-btn {
  width: 100%;
  margin: 0;
  color: $orange-new;
  background: none;
  border: none;
  padding: 5px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
}

.file-upload-s .file-upload-btn:hover {
  background: none;
  color: $orange-new;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-s .file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-s .file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-s .file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-s .image-upload-wrap {
  margin-top: 20px;
  position: relative;
}

.file-upload-s .image-dropping,
.file-upload-s .image-upload-wrap:hover {
  background-color: #1FB264;
}

.file-upload-s .image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.file-upload-s .remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-s .remove-image:hover {
  background: #c13b2a;
  color: $white;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-s .remove-image:active {
  border: 0;
  transition: all .2s ease;
}
/* end file upload */
.f18{
  font-size: 18px;
}
.f14{
  font-size: 14px;
}
.f16{
  font-size: 16px;
}
.f18{
  font-size: 18px;
}
.f21{
  font-size: 21px;
}
.f25{
  font-size: 25px;
}
.phone-info .btn-info{
  color: $white;
  background:$orange-new; 
  border-color: $orange-new;
  border-radius: 50%;
  position: absolute;
  right: 72px;
  bottom: 95px;
}
.stretched-link, .stretched-link:hover{
  color: $orange-new;
}
.f1rem h5{
font-size: 1.3rem;
}
.red{
  color: #e44061;
  font-size: 25px;
}
.green{
  color: #41ad49;
  font-size: 25px;
}
.bx-1{
  border: 1px solid #dddddd;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 21px;
  position: relative;
  line-height: 25px;
  align-items: center;
}
.bx-1 h3{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#faaa17+1,f1828b+100 */
background: #faaa17; /* Old browsers */
background: -moz-linear-gradient(top,  #faaa17 1%, #f1828b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #faaa17 1%,#f1828b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #faaa17 1%,#f1828b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faaa17', endColorstr='#f1828b',GradientType=0 ); /* IE6-9 */
font-size: 18px;
border-radius: 20px;
color: $white;
position: absolute;
width: 100%;
left: 0;
top: -12px;
padding: 7px;
transition: transform .2s; /* Animation */
}
.bx-1:hover, .bx-1a{
box-shadow: 1px 1px 9px #cccccc;
 transform: scale(1.1);
}
.chart-box{
  background: #fcf1db;
  border-radius: 15px;
  padding: 50px;
  position: relative;
}
.element {
      display: inline-block;
      width: 400px;
      height: 400px;
      vertical-align: top;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .jchart__summary{
      display:none;
    }
    .cir-1{
      position: absolute;
      top:174px;
      font-size: 25px;
      left: 413px;
    }
.chart-bx i{
  font-size: 35px;
  color: $white;
}
.chart-bx .badge-secondary{
  background: #fe7411;
}
.chart-bx .badge-success{
  background: #1c6cab;
}
.chart-bx .badge-danger{
  background: #a4bfeb;
}
.badge{
    padding: 1.5em 1.5em;
  border-radius: 20px;
}
.fb{
  font-weight: bold;
}
.sec h5{
  font-size: 1.3rem;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.uploads{
.btn-primary.disabled, .btn-primary:disabled{
 background:$orange-new;
 border-color:$orange-new; 
 color:$white;
}
.btn.disabled, .btn:disabled {
    opacity: 1;
}
.btn{
  border-radius:50%;
  padding:5px 13px 5px 13px;
  font-size:14px;
}
}
.top-border{
  border-top: 3px solid $orange-new;
}

.main-search{
  .input-group{
    background: $white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
     border-radius: 7px;
     border:1px solid $has3;
  }
  .form-control{
    border:none;
    background: none !important;
  }
  .input-group-text{
    border:none;
  }
}
.main-search2{
  .input-group{
    background: $white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
     border-radius: 3px;
     border:1px solid $has3;
  }
  .form-control{
    border:none;
    background: none !important;
  }
  .input-group-text{
    border:none;
    background: $green-new !important;
    color: $white !important;
  }
}
.bg-white{
  background: $white;
}
.George-drop{
  .btn-secondary, .btn-secondary:hover{
 background: $orange-new !important;   
 border-color: $orange-new !important;   
 color: $white;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 position: relative;
  }
  .George-drop2{
    position: absolute;
  }
  .dropdown-toggle::after{
    display: none !important;
  }
  .George-drop-i i{
    font-size: 31px;
  }
  .George-drop-i2 i{
    font-size: 22px;
  }
  .dropdown-item i{
    font-size: $font25;
    color: $orange-new;
    padding-right:10px;
  }
}
.navs{
  background: $has5;
  .bg-light{
    background-color: $has5 !important;
  }
  .navbar-light .navbar-nav .nav-link{
    color:$has;
  }
}
.tab-content{
  border-left: 1px solid $has7;
  border-right: 1px solid $has7;
  border-bottom: 1px solid $has7;
  padding-left:30px;
}
.tabs-new{
  .nav-tabs .nav-item{
        width: 50%;
        text-align: center;
        font-size: $font25;
        
  }
  .nav-tabs .nav-link{
    border-top:0;
    border-left:0;
    border-right:0;
  }
    .nav-tabs .nav-link{
    border-top: 5px solid transparent;
    color: $orange-new;
    border-bottom: 1px solid $has7;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .nav-tabs .nav-link.active{
    border-top: 5px solid $orange-new;
    color: $orange-new;
    background: $white;
    border-radius: 0;
    border-bottom:1px solid $white;
    border-right: 1px solid $has7;
    border-left: 1px solid $has7;
  }
  .nav-tabs .nav-item.show .nav-link{
    border-top: 5px solid $orange-new;
    color: $orange-new;
    background: $has7;
  }
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
   border-top: 5px solid $orange-new; 
   border-radius: 0;
  }
  .nav-tabs{
    border-bottom:0 !important;
  }
  .nav-item a{
    color: $has;
  }
}
.business-box{
  border:1px solid $has4;
  position: relative;
  .business-box2{
    position: absolute;
    right: -62px;
    top: 78px;
  }
  .img-radius img{
    border-radius: 15px;
  }
  .list-inline-item{
    width: 29%;
    text-align: center;
  }
  .arrow-box{
    position:relative;
    
    .h2-heading{
    background: $green-new;
    font-size: $font21;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    }
  .arrow-right {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #ffffff;
    position: absolute;
  }
    .arrow-left {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #ffffff;
    position: absolute;
    right: 0;
    top: 0;
   }
  }
}
footer{
  background: $has;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $white;
}
.microphone{
  position: relative;
  .microphone2{
    position: absolute;
    bottom: 13px;
    right: 25px;
    background: $orange-new;
    border-radius: 50%;
    color: $white;
    padding: 3px 10px 3px 10px;
    font-size: $font21;
  }
}
.plus-icon {
  .btn{
   padding: 0.7rem 0.9rem 0.6rem 0.9rem;
  }
  .btn-primary{
  background: $orange-new;
  border-radius: 50%;
    i{
       font-size: $font35;
       color: $white;
     }
  }
}

/* category */
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*-- 2.3 Categories menu css here --*/
.category-s{
  a{
    color: $has;
  }
  a:hover{
      text-decoration:none !important;
      color: $green-new !important;
    }
.categories_menu {
  position: relative;
}

.categories_title {
  position: relative;
  cursor: pointer;
  height: 51px;
  background: $green-new;
  border-radius: 10px 10px 0 0;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_title {
    height: 45px;
    border-radius: 6px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_title {
    height: 43px;
    border-radius: 6px;
  }
}
.categories_title h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
  margin-bottom: 0;
  display: block;
  line-height: 51px;
  text-transform: capitalize;
  padding-left: 35px;
  position: relative;
  color: #fff;
}
.categories_title h2::before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  display: block;
  position: absolute;
  font-size: 22px;
  line-height: 0px;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
}
.categories_title h2::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  display: block;
  position: absolute;
  font-size: 13px;
  line-height: 0px;
  right: 17px;
  top: 50%;
  transform: translatey(-50%);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_title h2 {
    line-height: 45px;
    float: inherit;
    text-align: right;
    padding-right: 37px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_title h2 {
    line-height: 45px;
    float: inherit;
    text-align: right;
    padding-right: 37px;
  }
}

.categories_menu_toggle {
  background: #ffffff;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 9;
  display: none;
  padding: 10px 0;
  box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle {
    display: none;
    max-height: 360px;
    overflow: auto;
    padding: 10px 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle {
    display: none;
    max-height: 350px;
    overflow: auto;
  }
}
.categories_menu_toggle > ul > li {
  position: relative;
}
.categories_menu_toggle > ul > li > a {
  font-size: 14px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 400;
  display: block;
  cursor: pointer;
  padding: 0 20px 0 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .categories_menu_toggle > ul > li > a {
    line-height: 38px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li > a {
    line-height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li > a {
    line-height: 30px;
  }
}
.categories_menu_toggle > ul > li > a i.fa-angle-right {
  float: right;
  font-size: 15px;
  line-height: 30px;
  transition: .3s;
  -webkit-transition: .3s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li > a i.fa-angle-right {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li > a i.fa-angle-right {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li > a:hover {
    color: #40A944;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li > a:hover {
    color: #40A944;
  }
}
.categories_menu_toggle > ul > li:last-child > a {
  border-bottom: 0;
}
.categories_menu_toggle > ul > li:hover ul.categories_mega_menu {
  opacity: 1;
  visibility: visible;
  left: 100%;
}
.categories_menu_toggle > ul > li:hover > a {
  color: #40A944;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li:hover > a {
    background: inherit;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li:hover > a {
    background: inherit;
  }
}
.categories_menu_toggle > ul > li ul.categories_mega_menu {
  position: absolute;
  left: 120%;
  width: 500px;
  background: #ffffff;
  padding: 25px 20px 23px;
  overflow: hidden;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu {
    width: 480px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu {
    display: none;
    opacity: inherit !important;
    visibility: inherit !important;
    left: inherit !important;
    width: 100%;
    top: 100%;
    max-height: 350px;
    overflow: auto;
    transition: unset;
    box-shadow: inherit;
    position: inherit;
    padding: 0 20px 0px 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu {
    display: none;
    opacity: inherit !important;
    visibility: inherit !important;
    left: inherit !important;
    width: 100%;
    top: 100%;
    max-height: 350px;
    overflow: auto;
    transition: unset;
    box-shadow: inherit;
    position: inherit;
    padding: 0 20px 0px 60px;
  }
}
.categories_menu_toggle > ul > li ul.categories_mega_menu.open {
  display: block;
  left: 0;
}
.categories_menu_toggle > ul > li ul.categories_mega_menu > li {
  padding: 0 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu > li {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu > li {
    padding: 0;
  }
}
.categories_menu_toggle > ul > li ul.categories_mega_menu > li > a {
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
.categories_menu_toggle > ul > li ul.categories_mega_menu > li > a:hover {
  color: #40A944;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu > li > a {
    line-height: 38px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu > li > a {
    line-height: 38px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu > li.menu_item_children > a {
    text-transform: capitalize;
    font-weight: 400;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle > ul > li ul.categories_mega_menu > li.menu_item_children > a {
    text-transform: capitalize;
    font-weight: 400;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle ul li.menu_item_children > a {
    position: relative;
  }
  .categories_menu_toggle ul li.menu_item_children > a::before {
    position: absolute;
    content: "+";
    right: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle ul li.menu_item_children > a {
    position: relative;
  }
  .categories_menu_toggle ul li.menu_item_children > a::before {
    position: absolute;
    content: "+";
    right: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle ul li.menu_item_children.open > a::before {
    display: none;
  }
  .categories_menu_toggle ul li.menu_item_children.open > a::after {
    position: absolute;
    content: "-";
    right: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle ul li.menu_item_children.open > a::before {
    display: none;
  }
  .categories_menu_toggle ul li.menu_item_children.open > a::after {
    position: absolute;
    content: "-";
    right: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categorie_sub_menu {
    display: none;
    padding: 0 0 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .categorie_sub_menu {
    display: none;
    padding: 0 0 0 30px;
  }
}
.categorie_sub_menu li a {
  text-transform: capitalize;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.categorie_sub_menu li a:hover {
  color: #40A944;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categorie_sub_menu li a {
    line-height: 38px;
  }
}
@media only screen and (max-width: 767px) {
  .categorie_sub_menu li a {
    line-height: 38px;
  }
}

.categories_menu_toggle ul li ul.categories_mega_menu.column_2 {
  width: 400px;
}
@media only screen and (max-width: 767px) {
  .categories_menu_toggle ul li ul.categories_mega_menu.column_2 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_menu_toggle ul li ul.categories_mega_menu.column_2 {
    width: 100%;
  }
}

.categorie_sub {
  opacity: 0;
  z-index: 999;
  position: absolute;
  width: 100%;
  left: 0;
  background: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
  top: 65%;
  visibility: hidden;
}
.categorie_sub.open {
  top: 95%;
  opacity: 1;
  visibility: visible;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
}

.categories_menu_toggle ul li.has-sub > a::before {
  position: absolute;
  content: "\f055";
  font-family: Font Awesome 5 Free;
  top: 0;
  right: 20px;
  font-size: 18px;
  pointer-events: none;
}

.categories_menu_toggle ul li.has-sub > a.open::before {
  content: "\f056";
}

.categories_menu_toggle ul li.has-sub ul.categorie_sub li a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
  display: block;
  line-height: 45px;
}

.categories_menu_toggle ul li.has-sub ul.categorie_sub li a:hover {
  color: #40A944;
}

.categories_menu_toggle ul li ul.categories_mega_menu > li:first-child {
  padding-left: 0;
}

.categories_menu_toggle ul li ul.categories_mega_menu > li:last-child {
  padding-right: 0;
}

.categorie_banner {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 500px;
}
@media only screen and (max-width: 767px) {
  .categorie_banner {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categorie_banner {
    display: none;
  }
}
.categorie_banner a img:hover {
  opacity: 0.8;
}

.call-support {
  text-align: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-support {
    display: none;
    text-align: center;
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .call-support {
    display: none;
    text-align: center;
    margin-bottom: 22px;
  }
}
.call-support p {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  position: relative;
}
.call-support p::before {
  content: '';
  position: absolute;
  background: url("../img/icon/icon-phone.png") no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  left: -41px;
}
.call-support p a {
  display: block;
  font-size: 15px;
}
.call-support p a:hover {
  color: #40A944;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-support p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .call-support p {
    font-size: 13px;
  }
}
   .categories_three .categories_menu_toggle {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories_three .categories_menu_toggle {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .categories_three .categories_menu_toggle {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .categories_three .categories_menu_toggle > ul > li > a {
    line-height: 33px;
  }
}

}
/* end category */
.sub-heading{
  background: $green-new;
  color: $white;
}
.slider-work {
  .carousel-caption{
    text-align: left;
    left: 7%;
    right: 7%;
    top: 30px;
  }
  .carousel-indicators{
    justify-content: left;
    margin-left: 7%;
  }
  .carousel-indicators li{
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
  h5{
    font-size: 37px;
  }
  p{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .btn{
    border-radius: 3px;
  }
   img{
    border-radius: 15px;
   }
 }
   .sub-products{
    position: relative;
    overflow: hidden;
    .sub-products2{
    position: absolute;
    top:0;
    text-transform: uppercase;
    background: $orange-new;
    color: $white;
   /* padding: 5px; */
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }
  .rotate5{
     transform: rotate(-45deg);
     width: 100%;
     top:40px;
     left: -69px;
  }
   .microphone2{
    background: $orange-new;
    border-radius: 50%;
    color: $white;
    padding: 3px 10px 3px 10px;
    font-size: $font18;
    color: $white;
  }
  .play{
    background: $orange-new;
    border-radius: 50%;
    color: $white;
    padding: 3px 10px 3px 10px;
    font-size: $font18;
  }
  .trans{
    transform: rotate(-20deg);
  }
   .sub-products3{
    position: absolute;
    bottom:10px;
    right: 10px;
  }
  }
  .basic-info{
    background: #ff7e00;
    color: $white;
    padding: 7px 0px 7px 7px;
    font-size: 25px;
    display: initial;
  }
.basic-info::after{
 content: "";
     border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 23px solid #ff7e00; 
    position: absolute;
    top: -5px;
}

   
.post-slide{
    background: #fff;
    margin: 20px 15px 20px 0;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    position: absolute;
    top:-13%;
    right:55px;
    padding: 0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f053";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #333;
    font-size:21px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f054";
}